<div class="container">
  <div class="title-div">
    <h1 class="title">Añadir nuevo paciente</h1>
  </div>
  <div class="row">
    <div class="col-2">
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" class="input-text" id="nombre" name="nombre">
      </div>
      <div class="form-group">
        <label for="apellido">Apellido:</label>
        <input type="text" class="input-text" id="apellido" name="apellido">
      </div>
      <div class="form-group">
        <label for="fechanac">Fecha de nacimiento:</label>
        <input type="text" class="input-text" id="fechanac" name="fechanac">
      </div>
    </div>
    <div class="col-2">
      <div class="form-group">
        <label for="nrodoc">Número de documento:</label>
        <input type="text" class="input-text" id="nrodoc" name="nrodoc">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" class="input-text" id="email" name="email">
      </div>
      <div class="form-group">
        <label for="telefono">Teléfono:</label>
        <input type="text" class="input-text" id="telefono" name="telefono">
      </div>
    </div>
    <div class="col-2">
      <button class="b1">Guardar</button>
    </div>
  </div>
</div>
