.input-text {
  width: 70%;
  margin-right: 2rem;
}
.container{
  justify-content: center;
  display: flex;
  width: 80%;
}
.input-label{
  font-size: large;
}
.results{
  display: flex;
  justify-content: center;
}
