/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

:root{
  --shadow-color: rgba(0, 0, 0, 0.1);
  --background: #4e5050;
  --background-hover: #343535;
}

*, ::after, ::before {
	box-sizing: border-box;
}
*{
  font-family: 'Arvo', serif;
  font-size: 13px;
}
.b1 {
  display: inline-block;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 350;
  color: #fff;
  background-color: var(--background);
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 6px var(--shadow-color);
  transition: all 0.3s ease;
  cursor: pointer;
}

.b1:hover {
  background-color: var(--background-hover);
  box-shadow: 0 6px 8px var(--shadow-color);
}
nav {
  background-color: #303131;
  width: 100%;
  border-top: 1px solid #fff;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0 10px;
  padding: 10px 0px;
}

li a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}
.grid {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 -10px; /* ajustar el margen para evitar el desbordamiento */
}

.col {
  flex-basis: 25%;
  max-width: 25%;
  padding: 0 10px;
}

.input-text {
  padding: 10px; /* agregar un poco de espacio interno */
  font-size: 16px;
  border: 0.2px solid rgb(184, 184, 184);
  border-radius: 5px;
  background-color: #fff; /* agregar un fondo blanco */
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.input-label{
  padding: 5px;
}
.input-text:focus {
  outline: none;
  border: 1px solid rgb(134, 134, 134);
  box-shadow: 4px 6px 2px rgba(0, 0, 0, 0.2);
}


.title {
  font-size: 20px;
  margin-bottom: 20px;
}
.title-div{
  display: flex;
  justify-content: center;
}
.container {
  max-width: 1200px;
  margin: 2rem auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-item {
  margin-bottom: 10px;
}

.list-item a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.list-item a:hover {
  color: #e4e4e4 ;
}
.martop-2{
  margin-top: 2rem;
}
.card{
  width: 25%;
  display: flex;
  flex-direction: column;
  height: fit-content;
  box-shadow: 2px 2 px 5px #343535;
  border: 0.2px solid rgb(184, 184, 184);
  border-radius: 5px;
  overflow: hidden;
}
.card-header{
  width: 95%;
  padding: 2px;
  display: flex;
  justify-content: center;
  margin: 3px 3px;
  display: flex;
  border-bottom: 0.3px solid #e5e5e5 ;
  box-shadow: 0 0 0 99vmax var(--background);
  background-color: var(--background);
  color: #e5e5e5;
  clip-path: inset(-3px -100vmax);

}
.card-body{
  width: 95%;
  margin: 3px 3px;
  padding: 2px;
}
body{
  margin: 0;
  background-color: #e0e0e9;
}
